@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Value Sans Pro";
  src: url("../src/assets/Fonts/Value Sans Pro/ValueSansPro-Regular.ttf")
    format("opentype");
}
@font-face {
  font-family: "Value Sans Pro Medium";
  src: url("../src/assets/Fonts/Value Sans Pro/ValueSansPro-Medium.ttf")
    format("opentype");
}
@font-face {
  font-family: "Bakilda Histori";
  src: url("../src/assets/Fonts/Bakilda/bakilda-histori.ttf") format("opentype");
}
@font-face {
  font-family: "Abril Display Bold";
  src: url("../src/assets/Fonts/Abril/Abril_Display_Bold.otf")
    format("opentype");
}

:root {
  --primary-colour: #270a05;
  --secondary-colour: #86371c;
  --third-colour: #ffa958;
}
@layer utilities {
  .text-shadow-custom {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

@layer components {
  .normal-text-design {
    @apply font-primary_font text-primary_text opacity-50 text-shadow-custom text-base font-normal leading-6;
  }
}
